<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<h1 class="title">
  RuralID
</h1>
<h2 class="subtitle">
  Aplicativo de identificação via QRcode da UFRRJ.
</h2>
<h3 class="text">
  O RuralID é um trabalho de engenharia reversa para o acesso e raspagem de dados do sistema acadêmico da UFRRJ, o SIGAA. Este e outros serviços online da Universisade poderiam ser muito melhores caso fosse instalada e disponibilizada aos desenvolvedores de serviços online a API oficial de acesso ao SIGAA. O módulo API já existe e basta que seja habilitado e configurado no sistema acadêmico da UFRRJ. 
  O esforço de contrução do RuralID através de engenharia reversa é uma forma de mostrar como tais serviços online têm potêncial para trazer benefícios para a comunidade acadêmica da UFRRJ.
</h3>
{% endblock %}
