<!-- templates/login.html -->

{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Login</h3>
    <h4 class="text">Use as credenciais do sigaa</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
        {% endwith %}
        <form method="POST" action="/ruralid/login">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="username" placeholder="Usuário" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Senha">
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox" name="remember">
                    Manter conectado
                </label>
            </div>
	    {% if reloptions %}
		    <div class="field">
			<div class="control">
			    <div class="select">
				    <select name="reloption">
					    <option value="{{reloptions[0]}}" selected>{{reloptions[0]}}</option>
					    {% for reloption in reloptions[1:] %}
						    <option value="{{reloption}}">{{reloption}}</option>
					    {% endfor %}
		                    </select>
			    </div>
			</div>
		    </div>
	    {% endif %}
            <button class="button is-block is-info is-large is-fullwidth">Entrar</button>
        </form>
    </div>
</div>
{% endblock %}
